<div class="container mx-auto">
    Daily AR Report
    <form action="/reports/createDaily" method="POST">
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    Daily Sales Report
    <form action="/reports/createDaily" method="POST">
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>