<div class="container mx-auto p-6">
  <div class="content-center mt-5">
        <h2>Welcome to Statements!</h2>
        <p>There are no statements to print. No invoices were found for the statement period selected.</p>
      <div class="divider"></div>
  <div class="mb-3 float-right">
        <a class="btn btn-primary" href="/reports">Return to Reports</a>
      </div>
  </div>
</div>

