  <main>
    <div class="container mx-auto p-6">
      <div class="mt-5">
        <p><strong>Reports</strong></p>
      </div>
      <div class="divider"></div>
    <section>
      <h3>Daily Report</h3>
      <div class="row mt-5">
        <form action="/reports/dailyReport/" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="<%= yesterday.toISOString().slice(0, 10) %>" required>
          </div>
          <button type="submit" class="btn btn-primary">Review Report</button>
        </form>
    </div>
    </section>
    <div class="divider"></div>
    <section>
      <h3>Finance Charges</h3>
      <form action="/invoices/financeCharges/" method="POST">
        <div class="mb-3">
          <label for="chargeDate" class="form-label">Charge Date</label>
          <input type="date" class="form-control" id="chargeDate" name="chargeDate" value="<%= lastMonthEndDate.toISOString().slice(0, 10) %>" required>
          <!-- Make sure this is the last day of the previous month, so the charge will show up on the statement. Only one batch of finance charges should be allowed per month -->
        </div>
        <button type="submit" class="btn btn-primary">Review Charges</button>
      </form>     
    </section>
    <div class="divider"></div>
    <section>
      <h3>Review Statements</h3>
      <form action="/reports/reviewStatements/" method="POST">
        <div class="mb-3">
          <label for="statementDate" class="form-label">Statement Date</label>
          <input type="date" class="form-control" id="statementDate" name="statementDate" value="<%= lastMonthEndDate.toISOString().slice(0, 10) %>" required>
          <!-- This should default to the last day of the previous month. -->
          <!-- Can add radio button for All customers or select one customer -->
        </div>
        <button type="submit" class="btn btn-primary">Review Statements</button>
      </form>      
    </section>
  </div>  
</main>