  <div class="container mx-auto">
    <div class="mt-5">
      <p><strong>Reports</strong></p>
    </div>
      <div class="row input-group mt-5">
        <a href="/reports/newDaily/" class="btn btn-primary">
          Daily Reports
        </a>
    </div>
    <div class="row justify-content-center mt-5">
      <a href="/reports/newInterest/" class="btn btn-primary">
        Finance Charges
      </a>
    </div>
    <div class="row justify-content-center mt-5">
      <a href="/reports/newMonthly/" class="btn btn-primary">
        Statements
      </a>
    </div>
  </div>  