  <div class="container">
    <div class="mt-5">
      <p><strong>Reports</strong></p>
    </div>
      <div class="row justify-content-center mt-5">
        <!-- form with date input -->
        <form action="/reports/newDaily/">
          <label for="date" class="form-label">Date</label>
          <input type="date" id="date" class="form-control" name="date">
        </form>
        <button type="submit">
          Daily Report
        </button>
    </div>
    <div class="row justify-content-center mt-5">
      <a href="/reports/newInterest/" class="btn btn-primary">
        Finance Charges
      </a>
    </div>
    <div class="row justify-content-center mt-5">
      <a href="/reports/newMonthly/" class="btn btn-primary">
        Statements
      </a>
    </div>
  </div>  