
<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <% if (user) { %>
        <div>
            <a class="btn btn-primary" href="/customers">Return to Customers</a>
        </div>
    <% } %>
    <div>
        <p>Checkout the code on <a class="link link-hover" href="https://github.com/moonlighter-dev/roar">Github</a></p>
        </div> 
        <div>
        <p>Developed by <a class="link link-hover" href="https://danaarroway.com">Dana Arroway</a></p>
        </div>
</footer>

<script src="https://cdn.tailwindcss.com"></script>
<% if (page = "new-payment") { %>
    <script src="/js/main.js"></script>
<% } %>

</body>
</html>