    <% const noHeaderPages = ["index", "login", "signup"] %>
    <% if (!noHeaderPages.includes(page)) { %>
    <header class="container">
      <div class="navbar bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
              <li><a href="/customers/">Customers</a></li>
              <!-- <li><a>Reports</a></li> -->
              <!-- <li><a>Company Settings</a></li> -->
            </ul>
          </div>
            <%= user.userName %>
        </div>
        <div class="navbar-center">
          <a class="btn btn-ghost normal-case text-xl" href="/customers/">ROAR</a>
        </div>
        <div class="navbar-end">
          <% if (user) { %>
            <a href="/logout" class="btn btn-primary">Logout</a>
          <% } %>
            </div>
        </div>
      </div>

    </header>
    <% } %>