<%- include('partials/header') -%>

<main class="hero min-h-screen big-base-200 container">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Ready to ROAR?</h1>
            <p class="py-6">An accounts receivable microservice that manages customers, invoices, payments, and more!</p>
            <a href="/login" class="btn btn-primary"> Login</a>
            <a href="/signup" class="btn btn-primary"> Signup</a>            
          </div>
    </div>
</main>
    

<%- include('partials/footer') -%>