<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Welcome,</strong> <%= user.userName %>!</p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <!-- Add an invoice -->
            <a class="btn btn-primary" href="/invoices/newInvoice">New Invoice</a>
            <!-- Make a payment -->
            <a class="btn btn-primary" href="/payments/newPayment">Make Payment</a>
            <!-- View Customers -->
            <a class="btn btn-primary" href="/customers">View Customers</a>
          </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>