  <div class="container mx-auto">
    <div class="text-center mt-5">
        <a href="/invoices/newInvoice/" class="btn btn-wide btn-primary">
          New Invoice
        </a>
    </div>
    <div class="text-center mt-5">
      <a href="/customers/newCustomer/" class="btn btn-wide btn-primary">
        New Customer
      </a>
    </div>
    <div class="divider"></div>
    <div class="overflow-x-auto pl-2">
      <!-- this should be a table -->
      <table class="table table-zebra table-compact w-full">
        <tr>
          <th>Company Name</th>
          <th>Balance</th>
        </tr>
        <% for(var i = 0; i < customers.length; i++) { %>
          <tr>
            <td>
            <a class="link link-hover" href="/customers/viewCustomer/<%= customers[i]._id%>">
              <%= customers[i].companyName %>
            </a>
          </td>
          <td>
            <!-- Balance Total -->
            $ <%= customers[i].balance.toFixed(2) %>
          </td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>  
