  <div class="container mx-auto">
    <div class="text-center mt-5">
      <h2>Opening Balances</h2>
      <p>If any of your customers have opening balances you wish to transfer, enter them here.</p>
    </div>
    <div class="overflow-x-auto pl-2">
      <!-- this should be a table -->
      <form action="/customers/openingBalances?_method=PUT" method="POST">
      <table class="table table-zebra table-compact w-full">
        <tr>
          <th><label for="companyName" class="form-label">Company Name</label></th>
          <th><label for="openingBalance" class="form-label">Opening Balance</label></th>
        </tr>
        <% for(var i = 0; i < customers.length; i++) { %>
          <tr>
            <td>
            <input type="hidden" name="id" value="<%= customers[i]._id%>">
            <%= customers[i].companyName %>
          </td>
          <td>
            $ <input class="opening-balance" type="number" step="0.01" name="opening-balance" value="0.00"> %>
          </td>
          </tr>
        <% } %>
      </table>
      <button type="submit" class="btn btn-primary">Update Customers</button>
    </form>
    </div>
  </div>  
